<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container-fluid">
<button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarScroll">
<a class="navbar-brand" href="#">Inicio</a>
<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
<li class="nav-item btn btn-primary">
<a class="nav-link active" href="#">Habilidades</a>
</li>
<li class="nav-item btn btn-primary">
<a class="nav-link active" href="#">Experiencia</a>
</li>
<li class="nav-item btn btn-primary">
<a class="nav-link active" href="#">Portfolio</a>
</li>
<li class="nav-item btn btn-primary">
<a class="nav-link active" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">#ArgentinaPrograma</a>
</li>
</ul>
</div>
<!-- Login -->
<a class="btn btn-primary" href="" role="button">
<i class="fab fa-google"></i>Ingresar</a>
<!-- Google -->
<a class="btn btn-primary" href="https://mail.google.com/mail/?view=cm&fs=1&to=emuntaa@gmail.com" role="button">
<i class="fab fa-google"></i><img src="../../../assets/gmail.png" width="40" height="30"></a>
<!-- Linkedin -->
<a class="btn btn-primary" href="#!" role="button">
<i class="fab fa-linkedin-in"></i><img src="../../../assets/linkedin.png" width="30" height="30"></a>
<!-- Github -->
<a class="btn btn-primary" href="#!" role="button">
<i class="fab fa-github"></i><img src="../../../assets/github.png" width="30" height="30"></a>
<!-- Whatsapp -->
<a class="btn btn-primary" href="https://wa.me/01122405627" role="button">
<i class="fab fa-whatsapp"></i><img src="../../../assets/whatsapp.png" width="30" height="30"></a>
</div>
</nav>
<section class="banner">
<div>
<a><app-logo-argprog></app-logo-argprog></a>
<h1>#ArgentinaPrograma</h1>
<h2>¡Bienvenidos a mi Proyecto Final Integrador!</h2>
<br>
<h3>Mi nombre es Esteban Andrés Muntaabski, soy estudiante de #ArgentinaPrograma junto al Grupo84.
<br>En este proyecto integrador volcaremos todos los conocimientos y técnicas adquiridos durante la cursada.
<br>Un enorme agradecimiento al tutor Christian Coria y al profesor Sergio Gabriel Garzón.</h3>
<br>
<img class="cc" src="../../../assets/cc.png" width="300" height="100">
</div>
</section>




