<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
<div class="container-fluid">
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
<a class="navbar-brand" href="#">Inicio</a>
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
<li class="nav-item">
<a class="nav-link active" aria-current="page" href="#">#ArgentinaPrograma</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="#">Habilidades</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="#">Experiencia</a>
</li>
<li class="nav-item">
<a class="nav-link active" href="#">Portfolio</a>
</li>
</ul>
</div>
<!-- Google -->
<a class="btn btn-primary" style="background-color: #dd4b39;" href="#!" role="button">
  <i class="fab fa-google"></i>
Email</a>
<!-- Linkedin -->
<a class="btn btn-primary" style="background-color: #0082ca;" href="#!" role="button">
<i class="fab fa-linkedin-in"></i>
LinkedIn</a>
<!-- Github -->
<a class="btn btn-primary" style="background-color: #333333;" href="#!" role="button">
  <i class="fab fa-github"></i
>Github</a>
<!-- Whatsapp -->
<a class="btn btn-primary" style="background-color: #25d366;" href="#!" role="button">
<i class="fab fa-whatsapp"></i
>Whatsapp</a>
</div>
</nav>
<section class="banner">
<div>
<br>
<h2>¡Bienvenidos a mi Proyecto Final Integrador!</h2>
<br>
<a><app-logo-argprog></app-logo-argprog></a>
<a><br><br>Mi nombre es Esteban Andrés Muntaabski y soy estudiante de #ArgentinaPrograma junto al Grupo84.
<br>En este proyecto integrador volcaremos todos los conocimientos y tecnicas adquiridas durante la cursada.
<br>Un enorme agradecimiento al tutor Christian Coria, el profesor Sergio Gabriel Garzón y, uno muy especial, para Nahuel Hernán Espiño.</a>
</div>
</section>

